*
!.gitignore
!readme.md

!nginx/
!nginx/*
!nginx/config/
!nginx/config/*

!mariadb/
!mariadb/*.yml
!mariadb/*.sh
!mariadb/Dockerfile

!php/
!php/**
!redis/
!redis/*

!sphinx/
!sphinx/sphinx.sh
!sphinx/configs/
!sphinx/configs/sphinx.conf
!sphinx/configs/word-forms.txt
!sphinx/docker-compose.yml

!fish-console-config
!fish-console-config/**